  /*  1280 720*/

/*/////////////////////////////////// INICIO TOPO//////////////////////////// */

.grid{
    display: grid;
    grid-template-areas:'header header'
    'menu carrinho'
    'footer footer';
}

.header{
    grid-area: header;
    background-color: #c53c3c;
    height: 150px;
}

.header img {
    width: auto;
    max-width: 100px;
    height: auto;
    max-height: 100px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: -20px;
}

/*/////////////////////////////////// FIM TOPO//////////////////////////// */
/*/////////////////////////////////// INICIO TABS//////////////////////////// */
.tabs {
    text-align: center;
    overflow: hidden;
    background-color: #c53c3c;
    height: 70px;
}

.tabs button {
    height: 75px;
    background-color: inherit;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tabs button:hover {
    background-color:  #c25757;
    /* border-bottom: 5px solid #ffff66; */

}


.tabs button.active {
    background-color: #c25757;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border-bottom: 3px solid #ccc; */
}

.tabcontent h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

/*/////////////////////////////////// FIM TABS//////////////////////////// */
/*/////////////////////////////////// INICIO LISTA-PIZZA//////////////////////////// */
.lista-items{
  /* overflow: auto; */
  width: 70%;
  grid-area: menu;
  border: 1px grey;
  align-content: left
}
.lista-items button {
    /* border: 1px solid grey; */
    background-color: white;
    color: Black;
    padding: 10px 24px;
    cursor: pointer;
    height: 100px;
    width: 100%;
    display: block;
    border: none;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 0px;
    outline: none;
    border-radius: 5px;
    line-height: 1.6;
    align-content: left;
}

.lista-items button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.lista-items button:hover {
    background-color:#cecece;
    border-radius: 5px;
    border-color: black;
}

.lista-items img {
    width: 90px;
    height: 90px;
    margin-left: -20px;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-right: 6px;
    padding: 3px 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size: cover;
}

.lista-items p {
    margin: 0px;
    text-align:left;
    padding-bottom: 5px;
}

.carrinho{
    width: 30%;
}

.carrinho > #titulo {
    text-align: center;
    margin-right: 50px;
}

p{
    font-size: 110%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}


/*/////////////////////////////////// FIM LISTA-PIZZA//////////////////////////// */
body {
  margin: 0px;
  width: 1280px;
  height: 720px
}
